* {
  box-sizing: border-box;
}

html,
body {
  @include size(100%);
}

body {
  @include padding(null $base-spacing);
  background: image-url("bg.png") $body-bg-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  max-width: $max-screen;
  margin: 0 auto;
}

main {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-size: $large-font-size;
  overflow: visible;
  padding-top: $largest-spacing;
  position: relative;

  @include media($large-screen) {
    font-size: $copy-font-size;
    margin-left: auto;
    width: 65%;
  }

  @include media($wide-screen) {
    max-width: 60rem;
    padding-top: 15vh;
    width: 50%;
  }
}

p {
  margin-top: 0;
}

strong {
  font-weight: $bold-font-weight;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font-family;
  margin-top: 0;
}

h1,
h2 {
  font-weight: $header-font-weight;
  text-transform: uppercase;
}

h2 {
  @include margin($large-spacing null $larger-spacing);
  font-size: $header-font-size * 0.65;

  @include media($medium-screen) {
    font-size: $header-font-size;
  }
}

h3 {
  color: $secondary-color;
  font-size: $large-font-size;
}

a {
  border-bottom: 2px rgba($accent-color, 0.15) solid;
  color: $base-font-color;
  display: inline-block;
  font-weight: $bold-font-weight;
  line-height: 1.15;
  text-decoration: none;
  transition: all $anim-duration $anim-easing;

  &:hover,
  &:active {
    border-color: $accent-color;
  }
}

img,
svg {
  vertical-align: top;
}

.box {
  @include padding($base-spacing);
  background-color: white;
  border-top: $base-border;

  @include media($large-screen) {
    @include box-hover-long-shadow($accent-color, 20);
    @include padding($larger-spacing);
    border: $base-border;
  }
}

.button {
  @include box-hover-long-shadow($accent-color);
  background-color: $accent-color;
  border: 3px $accent-color solid;
  color: white;
  display: inline-block;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  padding: $small-spacing;

  &:hover,
  &:active {
    background-color: white;
    color: $accent-color;
    text-decoration: none;
  }
}

.hidden {
  display: none;
}
