.header {
  @include margin(null null $larger-spacing);
  // display: flex;
  display: none;
  flex-direction: column;
  width: 100%;

  @include media($large-screen) {
    align-items: flex-end;
    margin-bottom: 15vh;
  }
}

.logotype {
  @include drop-shadow--logo(darken($hero-shadow-color, 25%));
  border: 0;
  color: darken($hero-shadow-color, 10%);
  font-family: $logo-font-family;
  font-size: $copy-font-size;
  font-weight: $header-font-weight;

  @include media($wide-screen) {
    font-size: $header-font-size;
  }
}

.social-list {
  margin: 0;
  padding: 0;
}

.social {
  display: inline-block;
  list-style-type: none;

  a {
    @include drop-shadow--box($secondary-color);
    border: 0;
    display: block;
    line-height: 1;
    padding: 0.5rem 1rem;
  }
}
