.header {
  @include margin(null null $larger-spacing);
  // display: flex;
  display: none;
  flex-direction: column;
  width: 100%;

  @include media($large-screen) {
    align-items: flex-end;
    margin-bottom: 15vh;
  }
}

.acronym {
  @include margin($large-spacing null $larger-spacing);
  animation: bounce 1s $ease-in-out-sine alternate infinite;
  color: $accent-color;
  font-family: $logo-font-family;
  font-size: 9vw;
  font-weight: $header-font-weight;

  @include media($large-screen) {
    font-size: 3rem;
  }
}

.acronym a {
  color: $accent-color;
  border-bottom: none;
}

.social-list {
  margin: 0;
  padding: 0;
}

.social {
  display: inline-block;
  list-style-type: none;

  a {
    @include box-hover-long-shadow($secondary-color);
    border: 0;
    display: block;
    line-height: 1;
    padding: 0.5rem 1rem;
  }
}
