// Viewports
$medium-screen: 600px;
$large-screen: 900px;
$wide-screen: 1400px;
$max-screen: 1600px;
$tall-screen: 1000px;

//Fonts
@font-face {
  font-family: Neutra;
  src: url("/fonts/NeutraDisplay-Titling.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: Neutra;
  src: url("/fonts/Neutra2Display-Bold.otf") format("opentype");
  font-weight: 600;
}

$sans: Neutra, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "Biryani", $sans;
$header-font-family: $sans;
$logo-font-family: $sans;

$base-font-weight: 300;
$bold-font-weight: 700;
$header-font-weight: 800;
$header-light-weight: 600;

$base-font-size: 16px;
$small-font-size: 12px;
$large-font-size: 20px;
$header-font-size: 30px;
$copy-font-size: $large-font-size;


// Colors
$pink: #f639a5;
$pink-dark: #df3f82;
$blue: #0093ff;
$blue-light: #f6fbff;
$blue-dark: #e3eff8;
$teal: #a7ffeb;
$teal-dark: #6ADEC4;
$yellow: #fff25d;
$yellow-light: #fffdf1;
$yellow-dark: desaturate(darken($yellow-light, 40%), 70%);
$orange: #fd6e55;
$orange-dark: #CB3D20;
$gray: #BFC1C1;
$gray-light: lighten($gray, 10%);
$purple: #e7e8f2;
$black: #1A1919;

$base-font-color: $black;
$body-bg-color: $yellow-light;
$accent-color: $pink;
$secondary-color: $teal-dark;
$hero-text-color: $secondary-color;
$hero-shadow-color: desaturate(darken($hero-text-color, 10%), 15%);

// Borders
$base-border-color: $accent-color;
$base-border: 6px $base-border-color solid;
$base-border-radius: 3px;

// Spacing
$base-spacing: 1rem;
$large-spacing: ($base-spacing * 1.5);
$larger-spacing: ($large-spacing * 2);
$largest-spacing: ($base-spacing * 3);
$small-spacing: ($base-spacing * 0.85);
$below-spacing: 4rem;
$large-above-spacing: 40rem;
$large-below-spacing: 9.5rem;

// Animation timing
$anim-duration: 0.15s;
$anim-easing: ease-in;

// Z-index
$z-1under: -1;
$z-1above: 1;

// Media
$shadow-height: 12px;

@function shadow-array-generator($color, $num) {
  $array: ();

  @for $i from 1 to ($num + 1) {
    $this-shadow: $color #{$i}px #{$i}px;
    $array: append($array, $this-shadow, "comma");
  }

  @return $array;
}

@mixin text-long-shadow($color, $depth: 12) {
  text-shadow: shadow-array-generator($color, $depth);
  transform: translate3d(calc(#{$depth} * -1px), calc(#{$depth} * -1px), 0);
}

@mixin box-hover-long-shadow($color, $depth: 8) {
  transition: all 0.25s ease-in;

  &:hover {
    box-shadow: shadow-array-generator($color, $depth);
    transform: translate3d(calc(#{$depth} * -1px), calc(#{$depth} * -1px), 0);
  }
}

// Animation keyframes
@keyframes bounce {
  0% {
    @include text-long-shadow(darken($accent-color, 15%), 3);
  }

  50% {
    @include text-long-shadow(darken($accent-color, 15%), 6);
  }

  100% {
    @include text-long-shadow(darken($accent-color, 15%), 3);
  }
}
