<footer class="footer">
  <nav class="nav">
    <ul class="social-list">
      <li class="social twitter"><a href="http://twitter.com/plibmttbhgaty">Twitter</a></li>
      <li class="social github"><a href="http://github.com/plibmttbhgaty">Github</a></li>
      <li class="social email"><a href="mailto:stars+plibmttbhgaty@mit.edu">Email</a></li>
    </ul>
  </nav>

  <p>&copy; <%= Date.today.year %> PLIBMTTBHGATY &mdash; designed by <a href="https://www.thoughtbot.com">thoughtbot</a> <i class="em em-kissing_heart"></i></p>
</footer>
