<footer class="nav-footer">
  <h3>&copy; <%= Date.today.year %> PLIBMTTBHGATY, all rights reserved</h3>
  <nav>
    <ul class="nav-top-list nav-footer-list">
      <li><%= link_to 'Home', '/' %></li>
      <li><%= link_to 'Locations', '/locations' %></li>
</footer>