<div>
  <blockquote class="twitter-tweet" data-lang="en">
    <p lang="en" dir="ltr">
      <a href="https://twitter.com/hashtag/plibmttbhgaty?src=hash">#plibmttbhgaty</a> is a very fun event! I pronounce it &quot;awesome&quot;. <a href="https://t.co/gSXT0dSDFD">https://t.co/gSXT0dSDFD</a>
    </p>
    &mdash; andreasdotorg (@andreasdotorg) <a href="https://twitter.com/andreasdotorg/status/445277030301446144">March 16, 2014</a>
  </blockquote>
</div>

<div>
  <blockquote class="twitter-tweet" data-lang="en">
    <p lang="en" dir="ltr">
      Lots of learning and coding happening at the PLIBMTTBHGATY meetup today ✨ <a href="https://t.co/afV73VqIuw">pic.twitter.com/afV73VqIuw</a>
    </p>&mdash; Harriet (@harrietgl) <a href="https://twitter.com/harrietgl/status/693237133872463873">January 30, 2016</a>
  </blockquote>
</div>

<div>
  <blockquote class="twitter-tweet" data-lang="en">
    <p lang="en" dir="ltr">
      post <a href="https://twitter.com/hashtag/PLIBMTTBHGATY?src=hash">#PLIBMTTBHGATY</a> i have warm feelings towards clojure. keen on further exploring its lisp features, ring and immutant.
    </p>&mdash; Veronica Ray (@nerdonica) <a href="https://twitter.com/nerdonica/status/445415902175981569">March 17, 2014</a>
  </blockquote>
</div>

<div>
  <blockquote class="twitter-tweet" data-lang="en">
    <p lang="en" dir="ltr">
      learning me some Erlang at <a href="https://twitter.com/starsandrobots">@starsandrobots</a> PLIBMTTBHGATY event Hakkavélin, http://learnyousomeerlang.com
    </p>&mdash; Dr. C. Corbett Moran (@corbett) <a href="https://twitter.com/corbett/status/24572928934809600">January 10, 2011</a>
  </blockquote>
</div>
