<div class="tweet tweet-1">
  <blockquote class="twitter-tweet" data-lang="en">
    <p lang="en" dir="ltr">
      <a href="https://twitter.com/hashtag/plibmttbhgaty?src=hash">#plibmttbhgaty</a> is a very fun event! I pronounce it &quot;awesome&quot;. <a href="https://t.co/gSXT0dSDFD">https://t.co/gSXT0dSDFD</a>
    </p>
    &mdash; andreasdotorg (@andreasdotorg) <a href="https://twitter.com/andreasdotorg/status/445277030301446144">March 16, 2014</a>
  </blockquote>
</div>
