<div class="tweet tweet-2">
  <%= partial "images/twitter-alt.svg" %>
  <blockquote class="tweet-quote" data-lang="en">
    <p class="tweet-by">
      <a href="https://twitter.com/harrietgl/status/693237133872463873">Harriet (@harrietgl) &ndash; January 30, 2016</a>
    </p>
    <p lang="en" dir="ltr">
      Lots of learning and coding happening at the PLIBMTTBHGATY meetup today ✨ <a href="https://t.co/afV73VqIuw">pic.twitter.com/afV73VqIuw</a>
    </p>
  </blockquote>
</div>
