<div class="tweet tweet-3">
  <blockquote class="twitter-tweet" data-lang="en">
    <p lang="en" dir="ltr">
      post <a href="https://twitter.com/hashtag/PLIBMTTBHGATY?src=hash">#PLIBMTTBHGATY</a> i have warm feelings towards clojure. keen on further exploring its lisp features, ring and immutant.
    </p>&mdash; Veronica Ray (@nerdonica) <a href="https://twitter.com/nerdonica/status/445415902175981569">March 17, 2014</a>
  </blockquote>
</div>
