<div class="tweet tweet-3">
  <%= partial "images/twitter-alt.svg" %>
  <blockquote class="tweet-quote" data-lang="en">
    <p class="tweet-by">
      <a href="https://twitter.com/corbett/status/24572928934809600">Dr. C. Corbett Moran (@corbett) &ndash; January 10, 2011</a>
    </p>
    <p lang="en" dir="ltr">
      learning me some Erlang at <a href="https://twitter.com/starsandrobots">@starsandrobots</a> PLIBMTTBHGATY event Hakkavélin, http://learnyousomeerlang.com
    </p>
  </blockquote>
</div>
