<div class="tweet tweet-1">
  <%= partial "images/twitter-alt.svg" %>
  <blockquote class="tweet-quote" data-lang="en">
    <p class="tweet-by">
      <a href="https://twitter.com/andreasdotorg/status/445277030301446144">andreasdotorg (@andreasdotorg) &ndash; March 16, 2014</a>
    </p>
    <p lang="en" dir="ltr">
      <a href="https://twitter.com/hashtag/plibmttbhgaty?src=hash">#plibmttbhgaty</a> is a very fun event! I pronounce it &quot;awesome&quot;. <a href="https://t.co/gSXT0dSDFD">https://t.co/gSXT0dSDFD</a>
    </p>
  </blockquote>
</div>
