<div class="tweet tweet-2">
  <blockquote class="twitter-tweet" data-lang="en">
    <p lang="en" dir="ltr">
      Lots of learning and coding happening at the PLIBMTTBHGATY meetup today ✨ <a href="https://t.co/afV73VqIuw">pic.twitter.com/afV73VqIuw</a>
    </p>&mdash; Harriet (@harrietgl) <a href="https://twitter.com/harrietgl/status/693237133872463873">January 30, 2016</a>
  </blockquote>
</div>
