<div class="tweet tweet-4">
  <blockquote class="twitter-tweet" data-lang="en">
    <p lang="en" dir="ltr">
      learning me some Erlang at <a href="https://twitter.com/starsandrobots">@starsandrobots</a> PLIBMTTBHGATY event Hakkavélin, http://learnyousomeerlang.com
    </p>&mdash; Dr. C. Corbett Moran (@corbett) <a href="https://twitter.com/corbett/status/24572928934809600">January 10, 2011</a>
  </blockquote>
</div>
