<div class="vine">
  <iframe src="https://vine.co/v/MbU6eDQYwl5/embed/simple" width="600" height="600" frameborder="0"></iframe>
  <script src="https://platform.vine.co/static/scripts/embed.js"></script>
</div>
