---
pageable: false
---

<h2>What is this PLIBMT... thing?</h2>
<p>
    Programming Languages I've Been Meaning To Try But Haven't Gotten Around To Yet (PLIBMTTBHGATY) is a lightly-structured party where people get together and work on a project in a new programming language, either with or just near one another.
</p>
<p>
    This all started with the realization that plenty of people have a side project in mind to work on, that it's more fun to work together, and that many of us are just waiting for a good excuse to get started.
</p>

<h2>How do you say that?</h2>
<p>
    Any way you want to, pretty much!
</p>
<p>
    <iframe src="https://vine.co/v/MbU6eDQYwl5/embed/simple" width="600" height="600" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
</p>
<p>
    <img src="images/plibmttbhgaty2.small.jpg" alt="Pronouncing 'PLIBMTTBHGATY' in Icelandic">
</p>