<div class="box content-section">
  <h1 class="acronym"><a href="/">PLIBMTTBHGATY!</a></h1>
  <h2>Code of Conduct</h2>
  <p>
    All PLIBMTTBHGATY attendees and sponsors are required to agree with the
    following code of conduct. Organizers will enforce this code throughout
    PLIBMTTBHGATY events. We expect cooperation from all participants to help
    ensure a safe environment for everybody.
  </p>

  <p>
    The PLIBMTTBHGATY community is dedicated to providing a harassment-free
    experience for everyone, regardless of gender, gender identity and expression,
    age, sexual orientation, disability, physical appearance, body size, race,
    ethnicity, religion (or lack thereof), or technology choices. We do not
    tolerate harassment of PLIBMTTBHGATY participants in any form. Sexual language
    and imagery is not appropriate for any PLIBMTTBHGATY venue, including
    PLIBMTTBHGATY events, Twitter and other online media. Participants violating
    these rules may be sanctioned or expelled from PLIBMTTBHGATY events at the
    discretion of the event organisers.
  </p>

  <p>
    <i>
      This policy is modified from the
      <a href="http://confcodeofconduct.com/">Conference Code of Conduct</a>.
    </i>
  </p>
</div>
