---
pageable: true
per_page: 10
---

<section class="box content-section what-is" id="jump--what-is">
  <h1 class="acronym">PLIBMTTBHGATY!</h1>
  <h2>What is this thing?</h2>
  <p>
    It's a lightly-structured party where people get together and work on a project in a new programming language, either with or just near each other.
  </p>

  <p>
    This all started with the realization that plenty of people have a side-project in mind to work on, that it's more fun to work together, and that many of us are just waiting for a good excuse to get started.
  </p>
</section>

<section class="content-section events">
  <div class="box">
    <h2>Events</h2>
    <ul class="events-list" id="events-list"></ul>
    <!-- <%= link_to 'View past events', '/past-events', class: "toggle-past-events" %> -->
  </div>
  <div id="event-map"></div>
</section>

<div class="box content-section host-party">
  <h2>Host a PLIBMTT-PARTY</h2>
  <p>
    It's easy to throw a PLIBMTTBHGATY; just find a space, <a href="https://github.com/plibmttbhgaty/plibmttbhgaty.github.io" target="blank">open a pull request</a> to add your event to this website, and invite some friends.
  </p>

  <h3>Some ingredients include:</h3>
  <ul class="party-ingredients">
    <li class="party-ingredient"><p>
      Coffee
    </p></li>
    <li class="party-ingredient"><p>
      Breakfast
    </p></li>
    <li class="party-ingredient"><p>
      Name tags
    </p></li>
    <li class="party-ingredient"><p>
      Whiteboards
    </p></li>
    <li class="party-ingredient"><p>
      Couches
    </p></li>
    <li class="party-ingredient"><p>
      Reference books
    </p></li>
    <li class="party-ingredient"><p>
      Lunch
    </p></li>
    <li class="party-ingredient"><p>
      Signs with names of programming languages
    </p></li>
    <li class="party-ingredient"><p>
      A show-and-tell at the end
    </p></li>
  </ul>
  <p>Four to five hours seems to be about the right amount of time for this.</p>
</div>

<div class="box content-section">
  <h2>Code of Conduct</h2>
  <p>
    All PLIBMTTBHGATY attendees and sponsors are required to agree with the
    following code of conduct. Organizers will enforce this code throughout
    PLIBMTTBHGATY events. We expect cooperation from all participants to help
    ensure a safe environment for everybody.
  </p>

  <p>
    The PLIBMTTBHGATY community is dedicated to providing a harassment-free
    experience for everyone, regardless of gender, gender identity and expression,
    age, sexual orientation, disability, physical appearance, body size, race,
    ethnicity, religion (or lack thereof), or technology choices. We do not
    tolerate harassment of PLIBMTTBHGATY participants in any form. Sexual language
    and imagery is not appropriate for any PLIBMTTBHGATY venue, including
    PLIBMTTBHGATY events, Twitter and other online media. Participants violating
    these rules may be sanctioned or expelled from PLIBMTTBHGATY events at the
    discretion of the event organisers.
  </p>

  <p>
    <i>
      This policy is modified from the
      <a href="http://confcodeofconduct.com/">Conference Code of Conduct</a>.
    </i>
  </p>
</div>
