---
pageable: true
per_page: 10
---

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_LVaTnvQk8ism9vVxf4cGuReF-1X_6BE&sensor=false"></script>
<script type="text/javascript" src="../javascripts/event-map.js"></script>


<section class="home-abstract home-section">
    <div class="home-abstract-shim">
        <h1> Programming Languages I've Been Meaning To Try But Haven't Gotten Around To Yet</h1>
    </div>
</section>

<div class="home-about home-section">
    <a name="about"><h2>About</h2></a>
    <p>
        PLIBMTTBHGATY is a lightly-structured party where people get together and work on a project in a new programming language, either with or just near one another.
    </p>
    <p>
        This all started with the realization that plenty of people have a side proejct in mind to work on, that's it's more fun to work together, and that many of us are just waiting for a good excuse to get started!
    </p>
</div>

<div class="home-events home-section">
    <a name="events"><h2>Events</h2></a>
    <div id="event-map"></div>
    <%= link_to 'Past events', '/past-events' %>
</div>

<div class="home-get-involved home-section">
    <a name="get-involved"><h2>Get Involved</h2></a>
    <p>
        It's easy to throw a PLIBMTTBHGATY; just find a space, invite some friends, and <a href="mailto:stars+plibmttbhgaty@mit.edu">contact us</a> to let us know when it's happening.
    </p>
    <p>
        For more information and advice about throwing a PLIBMTTBHGATY, see the <a href="/party-planning">Party Planning</a> page!
    </p>
</div>

<div class="home-code-of-conduct home-section">
    <a name="code-of-conduct"><h2>Code of Conduct</h2></a>
    <p>
        TBD.
    </p>
</div>
